:root {
  --atom: #f9ff00;
  --attribute-name: #99cc99;
  --comment: #0dfdff;
  --operator: #00ff79;
}

.power-mode {
  --atom: #f9ff00;
  --attribute-name: #8194f4;
  --comment: #00ff79;
  --operator: #00ddff;
}