@import './themes/default';

@keyframes pulse {
  0% {
    animation-timing-function: ease-out;
  }

  50% {
    opacity: 0.5;
    animation-timing-function: ease-in;
  }
}

@keyframes grow {
  0% {
    animation-timing-function: ease-out;
  }

  50% {
    transform: scale(1.1);
    animation-timing-function: ease-in;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

main {
  min-height: 100vh;
  width: 100vw;
}

/* start editor code styles */
.tok-operator,
.tok-typeName,
.tok-className,
.tok-angle-bracket {
  color: var(--operator);
}

.tok-attribute-name {
  color: var(--attribute-name);
}

.tok-comment {
  color: var(--comment);
  display: inline-block;
  animation: grow 1.5s infinite both;
}

.tok-atom,
.tok-operator,
.tok-string,
.tok-name {
  color: var(--atom);
  animation: pulse 1.5s infinite both;
}


/* end editor code styles */